<!DOCTYPE html>
<html>
<head>

<title>Add Student</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

<h2>Add Student</h2>

<form method="POST">

<div class="mb-3">
<label>Name</label>
<input class="form-control" type="text" name="name">
</div>

<div class="mb-3">
<label>Age</label>
<input class="form-control" type="number" name="age">
</div>

<div class="mb-3">
<label>Course</label>
<input class="form-control" type="text" name="course">
</div>

<button class="btn btn-success">Add Student</button>

</form>

</div>

</body>
</html>